name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: 8
        distribution: adopt
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@v7
    - run: sbt -v "+ test"
    - run: rm -rf ~/.ivy2/local
