name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 17
        distribution: adopt
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@v7
    - run: sbt -v "+ test"
    - run: rm -rf ~/.ivy2/local
